/************************** RESET **************************/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 100vw;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/************************ TYPOGRAPHY *****************************/
* {
  font-family: Barlow, Arial, Tahoma, Verdana, Helvetica, sans-serif;
}

header {
  background: #FFFFFF;
  height: 135.88px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  header {
    height: 60px;
  }
}

.header {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease-in-out, box-shadow 0.3s;
}
.header-top {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 1500px) {
  .header-top {
    max-width: 94%;
  }
}
@media screen and (max-width: 1024px) {
  .header-top {
    display: none;
  }
}
.header-top h1 {
  font-size: 0.68rem;
  padding: 16px 0 9px;
  color: rgba(68, 94, 140, 0.6);
}
.header-nav {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
}
@media screen and (max-width: 1500px) {
  .header-nav {
    max-width: 94%;
  }
}
@media screen and (max-width: 1024px) {
  .header-nav {
    height: 60px;
    margin: 0 0 0 auto;
    max-width: 97%;
  }
}
.header-nav_container {
  display: flex;
  align-items: center;
  height: 68px;
}
.header-nav_container-logo {
  margin-right: 40px;
}
@media screen and (max-width: 1300px) {
  .header-nav_container-logo {
    margin-right: 20px;
  }
}
.header-nav_container-logo img {
  transition: transform 0.3s ease;
}
@media screen and (max-width: 1300px) {
  .header-nav_container-logo img {
    max-height: 50px;
  }
}
.header-nav_container-logo img:hover {
  transform: translateY(5px);
}
.header-nav_container-list ul {
  display: flex;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .header-nav_container-list ul {
    flex-direction: column;
  }
}
.header-nav_container-list li {
  font-size: 1.06rem;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  background: #FFFFFF;
}
@media screen and (max-width: 1500px) {
  .header-nav_container-list li {
    font-size: 0.94rem;
  }
}
@media screen and (max-width: 1300px) {
  .header-nav_container-list li {
    padding: 7px 7px 9px;
  }
}
@media screen and (max-width: 1024px) {
  .header-nav_container-list li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.header-nav_container-list li::before {
  content: "";
  height: 20px;
  background: rgba(68, 94, 140, 0.4);
  width: 1px;
  position: absolute;
  left: 0;
}
.header-nav_container-list li:first-child::before {
  content: unset;
}
.header-nav_container-list li:hover {
  background-color: #C92E34;
}
@media screen and (max-width: 1025px) {
  .header-nav_container-list li:hover {
    background: #FFFFFF;
  }
}
.header-nav_container-list li:hover > a {
  color: #FFFFFF;
}
@media screen and (max-width: 1025px) {
  .header-nav_container-list li:hover > a {
    color: #C92E34;
  }
}
.header-nav_container-list li:hover > .header-sous_menu {
  opacity: 1;
  transform: translateY(0px);
  left: 0;
}
@media screen and (max-width: 1024px) {
  .header-nav_container-list li:hover > .header-sous_menu {
    opacity: 0;
  }
}
.header-nav_container-list li:hover > .trick {
  z-index: 1;
}
.header-nav_container-list a {
  color: #464646;
}
@media screen and (max-width: 1024px) {
  .header-nav_container-list_item a {
    font-size: 1.1rem;
    height: 100%;
    padding: 8px 0 1px 5px;
    display: inline-block;
  }
}
.header-nav_container-list_item--home {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header-nav_container-list_item--home {
    display: block;
    box-shadow: 0 2px 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}
.header-nav_container-list_item--home-link {
  padding: 8px 0 1px 5px;
  height: 100%;
  width: 100%;
}
.header-nav_container-list_item--home-link-svg {
  fill: #C92E34;
  width: 1.6em;
  height: 1.6em;
}
@media screen and (max-width: 1024px) {
  .header-nav_link {
    margin-right: 68px;
  }
}
.header-nav_link-button {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1500px) {
  .header-nav_link-button {
    font-size: 0.94rem;
    max-width: 14rem;
    text-align: center;
    padding: 9px 15px 8px !important;
  }
}
@media screen and (max-width: 1024px) {
  .header-nav_link-button {
    border-radius: 0 !important;
    padding: 5px 14px 7px !important;
  }
}
.header-nav_link-button:hover {
  background-color: #1C94B9;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);
}
.header-nav_link span {
  color: #FFFFFF;
}
@media screen and (max-width: 1500px) {
  .header-nav_link span {
    max-width: 7rem;
    line-height: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .header-nav_link span {
    font-size: 0.81rem;
    line-height: 14px;
  }
}
.header-nav_toggle-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header-nav_toggle-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    height: 60px;
    width: 60px;
    background: #C92E34;
    cursor: pointer;
  }
}
.header-nav_toggle-menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-nav_toggle-menu-content_lines {
  width: 24px;
  height: 17px;
  color: #FFFFFF;
}
.header-nav_toggle-menu-content_lines-line {
  content: "";
  display: block;
  height: 2px;
  width: 24px;
  background: #FFFFFF;
  margin-bottom: 4px;
}
.header-nav_toggle-menu-content_label {
  color: #FFFFFF;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3px;
}
@media screen and (max-width: 1024px) {
  .header-nav_toggle-menu_ul {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    opacity: 0;
  }
}
.header-sous_menu {
  transform: translateY(-10px);
  margin-top: 25px;
  position: absolute;
  display: block !important;
  min-width: 210px;
  left: -900px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s ease;
}
.header-sous_menu li {
  transition: 0.3s ease;
  z-index: -1;
}
.header-sous_menu li::before {
  content: unset;
}
.header-sous_menu li:hover > a {
  color: #FFFFFF !important;
}
.header-sous_menu a {
  font-size: 1.06rem;
  line-height: 18px;
}

.trick {
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  bottom: -17px;
  opacity: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .trick {
    position: relative;
    width: 14px;
    height: 24px;
    opacity: 1;
    z-index: 0;
    background: #FFFFFF;
  }
}
.trick svg {
  height: 14px;
  width: 14px;
  transform: rotate(0);
  position: absolute;
  top: -5px;
  right: 0;
  stroke: #445E8C;
  stroke-width: 1px;
  margin-left: 1em;
}

.shadow-header {
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.15);
}

.aSuprimer {
  height: 200vh;
  background-color: #437EA6;
  position: relative;
  z-index: -10;
}

.clicked {
  opacity: 1;
  transition: 0.3s opacity;
}

.btn {
  background: #C92E34;
  padding: 13px 25px 13px 24px;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}/*# sourceMappingURL=style.css.map */