/************************** RESET **************************/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 100vw;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/************************ TYPOGRAPHY *****************************/
* {
  font-family: Barlow, Arial, Tahoma, Verdana, Helvetica, sans-serif;
}

header {
  background: #FFFFFF;
  height: 135.88px;
}

.header {
  background: #FFFFFF;
  padding-bottom: 17px;
  position: fixed;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.header-top {
  max-width: 89.4%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-top h1 {
  font-size: 0.68rem;
  padding: 16px 0 24px;
  color: rgba(68, 94, 140, 0.6);
}
.header-nav {
  max-width: 79%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-nav_container {
  display: flex;
  align-items: center;
}
.header-nav_container-logo {
  margin-right: 40px;
}
.header-nav_container-logo img {
  transition: transform 0.3s ease;
}
.header-nav_container-logo img:hover {
  transform: translateY(5px);
}
.header-nav_container-list ul {
  display: flex;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
}
.header-nav_container-list li {
  font-size: 1.06rem;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.header-nav_container-list li::before {
  content: "";
  height: 20px;
  background: rgba(68, 94, 140, 0.4);
  width: 1px;
  position: absolute;
  left: 0;
}
.header-nav_container-list li:first-child::before {
  content: unset;
}
.header-nav_container-list li:hover {
  background-color: #C92E34;
}
.header-nav_container-list li:hover > a {
  color: #FFFFFF;
}
.header-nav_container-list li:hover > .header-sous_menu {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
}
.header-nav_container-list li:hover > .trick {
  z-index: 1;
}
.header-nav_container-list a {
  color: #464646;
}
.header-nav_link-button:hover {
  background-color: #1C94B9;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);
}
.header-sous_menu {
  transform: translateY(-10px);
  margin-top: 25px;
  position: absolute;
  display: block !important;
  min-width: 210px;
  left: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: -1;
}
.header-sous_menu li {
  transition: 0.3s ease;
}
.header-sous_menu li::before {
  content: unset;
}
.header-sous_menu li:hover > a {
  color: #FFFFFF !important;
}
.header-sous_menu a {
  font-size: 1.06rem;
  line-height: 18px;
}

.trick {
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  bottom: -17px;
  opacity: 0;
  z-index: -1;
}

.aSuprimer {
  height: 200vh;
  background-color: #437EA6;
}

.btn {
  background: #C92E34;
  color: #FFFFFF;
  padding: 10px 25px 12px 24px;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}/*# sourceMappingURL=style.css.map */