header {
    background: $white;
}

.header-top {
    max-width: 88.6%;
    @include childAlign(flex-end);

    h1 {
        font-size: 0.68rem;
        padding: 16px 0 24px;
        color: rgba($dark-color, 0.6);
    }
}

.header-main {
    max-width: 79%;
    margin: 0 auto;
    @include childAlign(space-between);
    position: relative;

    &_left {
        display: flex;
        align-items: center;

        &-logo {
            margin-right: 40px;

            img {
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(5px);
                }
            }
        }

        &-nav {
            ul {
                display: flex;
            }

            li {
                font-size: 1.06rem;
                font-weight: 600;
                line-height: 20px;
                padding: 10px;
                position: relative;
                cursor: pointer;
                transition: all 0.3s;

                &::before {
                    content: "";
                    height: 20px;
                    background: (rgba($dark-color, 0.4));
                    width: 1px;
                    position: absolute;
                    left: 0;
                }

                &:first-child {
                    &::before {
                        content: unset;
                    }
                }

                &:hover {
                    background-color: $secondary-color;

                    &>a {
                        color: $white;
                    }
                }
            }
        }
    }

    &_right {
        &-button {
            // margin-left: 20px;
        }
    }
}