header {
    background: $white;
    height: 135.88px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
        height: 60px;
    }
}

.header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s;

    &-top {
        max-width: 1500px;
        margin: 0 auto;
        @include childAlign(flex-end);

        @media screen and (max-width: 1500px) {
            max-width: 94%;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }

        h1 {
            font-size: 0.68rem;
            padding: 16px 0 9px;
            color: rgba($dark-color, 0.6);
        }
    }

    &-nav {
        max-width: 1500px;
        margin: 0 auto;
        @include childAlign(space-between);
        position: relative;
        height: 100px;

        @media screen and (max-width: 1500px) {
            max-width: 94%;
        }

        @media screen and (max-width: 1024px) {
            height: 60px;
            margin: 0 0 0 auto;
            max-width: 97%;
        }

        &_container {
            display: flex;
            align-items: center;
            height: 68px;

            &-logo {
                margin-right: 40px;

                @media screen and (max-width: 1300px) {
                    margin-right: 20px;
                }

                img {
                    transition: transform 0.3s ease;

                    @media screen and (max-width: 1300px) {
                        max-height: 50px;
                    }

                    &:hover {
                        transform: translateY(5px);
                    }
                }
            }

            &-list {

                ul {
                    display: flex;
                    transition: opacity 0.2s linear, transform 0.2s ease-in-out;

                    @media screen and (max-width: 1024px) {
                        flex-direction: column;
                    }
                }

                li {
                    font-size: 1.06rem;
                    font-weight: 600;
                    line-height: 20px;
                    padding: 10px;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s;
                    background: $white;

                    @media screen and (max-width: 1500px) {
                        font-size: 0.94rem;
                    }

                    @media screen and (max-width: 1300px) {
                        padding: 7px 7px 9px;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                    }


                    &::before {
                        content: "";
                        height: 20px;
                        background: (rgba($dark-color, 0.4));
                        width: 1px;
                        position: absolute;
                        left: 0;
                    }

                    &:first-child {
                        &::before {
                            content: unset;
                        }
                    }

                    &:hover {
                        background-color: $secondary-color;

                        @media screen and (max-width: 1025px) {
                            background: $white;
                        }

                        &>a {
                            color: $white;

                            @media screen and (max-width: 1025px) {
                                color: $secondary-color;
                            }
                        }

                        &>.header-sous_menu {
                            opacity: 1;
                            transform: translateY(0px);
                            left: 0;

                            @media screen and (max-width: 1024px) {
                                opacity: 0;
                            }
                        }

                        &>.trick {
                            z-index: 1;
                        }
                    }
                }

                a {
                    color: $font;
                }

                &_item {

                    a {
                        @media screen and (max-width: 1024px) {
                            font-size: 1.1rem;
                            height: 100%;
                            padding: 8px 0 1px 5px;
                            display: inline-block;
                            transform: translateX(-10px);
                            opacity: 0;
                        }
                    }

                    &--home {
                        display: none;

                        @media screen and (max-width: 1024px) {
                            display: block;
                            box-shadow: 0 2px 0.5rem 0.1rem rgba($black, 25%);
                            z-index: 1;
                        }

                        &-link {
                            opacity: 0;
                            padding: 8px 0 1px 5px;
                            height: 100%;
                            width: 100%;
                            transform: translateX(-10px);
                            transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s linear 0.2s;

                            &-svg {
                                fill: $secondary-color;
                                width: 1.6em;
                                height: 1.6em;
                            }
                        }
                    }
                }
            }
        }

        &_link {

            @media screen and (max-width: 1024px) {
                margin-right: 68px;
            }

            &-button {
                display: flex;
                flex-wrap: wrap;

                @media screen and (max-width: 1500px) {
                    font-size: 0.94rem;
                    max-width: 14rem;
                    text-align: center;
                    padding: 9px 15px 8px !important;
                }

                @media screen and (max-width: 1024px) {
                    border-radius: 0 !important;
                    padding: 5px 14px 7px !important;
                }

                &:hover {
                    background-color: $highlight-color;
                    box-shadow: 0 0 3rem 0 rgb(0 0 0 / 25%);
                }
            }

            span {
                color: $white;

                @media screen and (max-width: 1500px) {
                    max-width: 7rem;
                    line-height: 17px;
                }

                @media screen and (max-width: 1024px) {
                    font-size: 0.81rem;
                    line-height: 14px;
                }
            }
        }

        &_toggle-menu {
            display: none;

            @media screen and (max-width: 1024px) {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                color: $white;
                height: 60px;
                width: 60px;
                background: $secondary-color;
                cursor: pointer;
            }

            &-content {
                @include childAlign(center);
                flex-direction: column;

                &_lines {
                    width: 24px;
                    height: 17px;
                    color: $white;

                    &-line {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 24px;
                        background: $white;
                        margin-bottom: 4px;
                    }
                }

                &_label {
                    color: $white;
                    font-size: 0.6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-top: 3px;
                }
            }

            &_ul {
                @media screen and (max-width: 1024px) {
                    position: fixed;
                    top: 60px;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    transition: 0.3s opacity;
                }
            }
        }
    }

    &-sous_menu {
        transform: translateY(-10px);
        margin-top: 25px;
        position: absolute;
        display: block !important;
        min-width: 210px;
        left: -900px;
        box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
        opacity: 0;
        transition: 0.3s ease;

        & li {
            transition: 0.3s ease;
            z-index: -1;

            &::before {
                content: unset;
            }

            &:hover {
                &>a {
                    color: $white  !important;
                }
            }
        }

        & a {
            font-size: 1.06rem;
            line-height: 18px;
        }

    }
}

.trick {
    position: absolute;
    left: 0;
    width: 100%;
    height: 22px;
    bottom: -17px;
    opacity: 0;
    z-index: -1;

    @media screen and (max-width: 1024px) {
        position: relative;
        width: 14px;
        height: 24px;
        opacity: 1;
        z-index: 0;
        background: $white;
    }

    svg {
        height: 14px;
        width: 14px;
        transform: rotate(0);
        position: absolute;
        top: -5px;
        right: 0;
        stroke: $dark-color;
        stroke-width: 1px;
        margin-left: 1em;
    }
}

.shadow-header {
    box-shadow: 0 0 5rem 0 rgb(0 0 0 / 15%);
}

.aSuprimer {
    height: 200vh;
    background-color: $primary-color;
    position: relative;
    z-index: -10;
}

.dark-window {
    opacity: 0;

    @media screen and (max-width: 1024px) {
        position: fixed;
        width: 100%;
        height: 0;
        top: 60px;
        left: 0;
        z-index: 5;
        background: rgba($black, 0.75);
        box-shadow: 0 0 5rem -1.5rem rgb(201 46 52 / 40%);
        transition: opacity 0.6s ease, height 0.6s ease;
    }
}

.first-item {
    transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s linear 0.2s;
}

.second-item {
    transition: transform 0.2s ease-in-out 0.25s, opacity 0.2s linear 0.25s;
}

.third-item {
    transition: transform 0.2s ease-in-out 0.3s, opacity 0.2s linear 0.3s;
}

.fourth-item {
    transition: transform 0.2s ease-in-out 0.35s, opacity 0.2s linear 0.35s;
}

.fifth-item {
    transition: transform 0.2s ease-in-out 0.4s, opacity 0.2s linear 0.4s;
}

.sixth-item {
    transition: transform 0.2s ease-in-out 0.45s, opacity 0.2s linear 0.45s;
}

.clicked-opacity {
    opacity: 1;
}

.clicked-height {
    height: 100vh;
}

.clicked-translateX {
    transform: translateX(0) !important;
    opacity: 1 !important;
}