$white: #FFFFFF;

$primary-color: #437EA6;
$secondary-color: #C82F34;
$highlight-color: #1C94B9;
$dark-color: #445E8C;
$third-color-one: #8F93A0;
$third-color-two: #FDC759;
$third-color-three: #92BA61;